body {
	background: #D9F2FF;
}
header {
	background: #306B99;
	color: #fff;
}
.color {
	color: #000000;
}

.color {
	background: #34495e;
}

.carousel-inner{
	width: 100%
}

footer {
	background: red;
}
.hol {
	background: 74AEE5;
}
.uno {
	background: #207DBF;
	color: #fff; 
}
.dos {
	background: #79a224;
	color: #fff;
}
.tre {
	background: #207DBF;
	color: #fff;
}